USE [master]
GO
/****** Object:  Database [EsemkaTaskMaster]    Script Date: 29/02/2024 00:29:45 ******/
CREATE DATABASE [EsemkaTaskMaster]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsemkaTaskMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsemkaTaskMaster]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 29/02/2024 00:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[JobDescription] [text] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 29/02/2024 00:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[EstimatedDuration] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
	[AssignedBy] [int] NULL,
	[AssignedTo] [int] NULL,
	[AssignedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[StartedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 29/02/2024 00:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamDetail]    Script Date: 29/02/2024 00:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[IsLeader] [bit] NOT NULL,
 CONSTRAINT [PK_TeamDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29/02/2024 00:29:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[EmailAddress] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[JoinDate] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([ID], [Name], [JobDescription]) VALUES (1, N'Manager Keuangan', N'Mengelola keuangan perusahaan, termasuk anggaran, laporan keuangan, dan perencanaan keuangan.')
INSERT [dbo].[Position] ([ID], [Name], [JobDescription]) VALUES (4, N'Manager SDM', N'Bertanggung jawab atas rekrutmen, pelatihan, dan manajemen tenaga kerja.')
INSERT [dbo].[Position] ([ID], [Name], [JobDescription]) VALUES (5, N'Manajer Produksi', N'Mengelola kegiatan produksi, termasuk penanaman, pemeliharaan, dan panen.')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([ID], [Title], [Description], [EstimatedDuration], [TeamID], [AssignedBy], [AssignedTo], [AssignedAt], [CreatedBy], [CreatedAt], [StartedAt], [CompletedAt]) VALUES (2, N'Optimasi Rantai Pasokan', N'Menganalisis dan mengoptimalkan rantai pasokan untuk meningkatkan efisiensi produksi.', 480, 1, 1, 3, CAST(N'2024-02-29T06:46:00.000' AS DateTime), 1, CAST(N'2024-02-29T06:45:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Task] ([ID], [Title], [Description], [EstimatedDuration], [TeamID], [AssignedBy], [AssignedTo], [AssignedAt], [CreatedBy], [CreatedAt], [StartedAt], [CompletedAt]) VALUES (3, N'Peninjauan Kebijakan Karyawan', N'Melakukan peninjauan dan pembaruan kebijakan karyawan sesuai dengan regulasi terkini dan praktik terbaik industri.', 240, 1, 1, 2, CAST(N'2024-02-28T07:00:00.000' AS DateTime), 1, CAST(N'2024-02-28T07:00:00.000' AS DateTime), CAST(N'2024-02-28T07:08:00.000' AS DateTime), NULL)
INSERT [dbo].[Task] ([ID], [Title], [Description], [EstimatedDuration], [TeamID], [AssignedBy], [AssignedTo], [AssignedAt], [CreatedBy], [CreatedAt], [StartedAt], [CompletedAt]) VALUES (4, N'Peningkatan Keterlibatan Karyawan', N'Merancang dan melaksanakan inisiatif untuk meningkatkan keterlibatan karyawan dalam organisasi.', 300, 1, 1, 2, CAST(N'2024-02-26T07:00:00.000' AS DateTime), 1, CAST(N'2024-02-26T06:00:00.000' AS DateTime), CAST(N'2024-02-26T10:00:00.000' AS DateTime), CAST(N'2024-02-27T05:33:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([ID], [Name], [Description]) VALUES (1, N'Tim Inti', N'Tim layer 1 yang menangani masalah operasional perusahaan yang dipimpin oleh Direktur Operasional')
INSERT [dbo].[Team] ([ID], [Name], [Description]) VALUES (2, N'Tim Keuangan', N'Tim keuangan memiliki tanggung jawab utama dalam mengelola aspek keuangan perusahaan')
INSERT [dbo].[Team] ([ID], [Name], [Description]) VALUES (3, N'Tim SDM', N'Tim SDM, atau Sumber Daya Manusia, memiliki berbagai fungsi penting untuk mendukung keberhasilan dan efisiensi organisasi')
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamDetail] ON 

INSERT [dbo].[TeamDetail] ([ID], [TeamID], [UserID], [PositionID], [IsLeader]) VALUES (1, 1, 1, 6, 1)
INSERT [dbo].[TeamDetail] ([ID], [TeamID], [UserID], [PositionID], [IsLeader]) VALUES (2, 1, 2, 4, 0)
INSERT [dbo].[TeamDetail] ([ID], [TeamID], [UserID], [PositionID], [IsLeader]) VALUES (3, 1, 3, 5, 0)
SET IDENTITY_INSERT [dbo].[TeamDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [EmailAddress], [Password], [JoinDate]) VALUES (1, N'Michael Chen', N'michael@gmail.com', N'michael123', CAST(N'2021-02-28T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([ID], [Name], [EmailAddress], [Password], [JoinDate]) VALUES (2, N'Siti Marpaung', N'siti.marpaung@gmail.com', N'siti123', CAST(N'2021-05-15T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([ID], [Name], [EmailAddress], [Password], [JoinDate]) VALUES (3, N'Lily Chen', N'lily.chen@gmail.com', N'lily123', CAST(N'2021-07-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 29/02/2024 00:29:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User] ON [dbo].[User]
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_AssignedBy] FOREIGN KEY([AssignedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_AssignedBy]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_AssignedTo] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_AssignedTo]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_CreatedBy]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([ID])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Team]
GO
ALTER TABLE [dbo].[TeamDetail]  WITH CHECK ADD  CONSTRAINT [FK_TeamDetail_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Position] ([ID])
GO
ALTER TABLE [dbo].[TeamDetail] CHECK CONSTRAINT [FK_TeamDetail_Position]
GO
ALTER TABLE [dbo].[TeamDetail]  WITH CHECK ADD  CONSTRAINT [FK_TeamDetail_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([ID])
GO
ALTER TABLE [dbo].[TeamDetail] CHECK CONSTRAINT [FK_TeamDetail_Team]
GO
ALTER TABLE [dbo].[TeamDetail]  WITH CHECK ADD  CONSTRAINT [FK_TeamDetail_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[TeamDetail] CHECK CONSTRAINT [FK_TeamDetail_User]
GO
USE [master]
GO
