USE [master]
GO
/****** Object:  Database [EsemNet]    Script Date: 07/03/2024 08:26:24 ******/
CREATE DATABASE [EsemNet]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsemNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsemNet]
GO
/****** Object:  Table [dbo].[Jenis]    Script Date: 07/03/2024 08:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jenis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Jenis] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jenis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KodePotonganHarga]    Script Date: 07/03/2024 08:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KodePotonganHarga](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[Kode] [varchar](20) NOT NULL,
	[Presentase] [int] NOT NULL,
	[Maksimal] [float] NULL,
	[BerlakuSampai] [date] NULL,
 CONSTRAINT [PK_KodePotonganHarga] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komputer]    Script Date: 07/03/2024 08:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komputer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nomor] [int] NOT NULL,
	[Merek] [varchar](100) NOT NULL,
	[IDJenis] [int] NOT NULL,
 CONSTRAINT [PK_Komputer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 07/03/2024 08:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[Telepon] [varchar](16) NOT NULL,
	[Alamat] [text] NULL,
	[MasihAktif] [bit] NOT NULL,
 CONSTRAINT [PK_Pelanggan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paket]    Script Date: 07/03/2024 08:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [varchar](100) NOT NULL,
	[IDJenis] [int] NULL,
	[HargaPerJam] [float] NOT NULL,
 CONSTRAINT [PK_Paket] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pengguna]    Script Date: 07/03/2024 08:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pengguna](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NamaPengguna] [varchar](100) NOT NULL,
	[KataSandi] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pengguna] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksi]    Script Date: 07/03/2024 08:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKomputer] [int] NOT NULL,
	[IDMember] [int] NULL,
	[IDPaket] [int] NOT NULL,
	[IDPotonganHarga] [int] NULL,
	[Tanggal] [date] NOT NULL,
	[Waktu] [time](7) NOT NULL,
	[DibuatOleh] [int] NOT NULL,
	[Durasi] [int] NOT NULL,
 CONSTRAINT [PK_Transaksi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Jenis] ON 

INSERT [dbo].[Jenis] ([ID], [Jenis]) VALUES (1, N'Biasa')
INSERT [dbo].[Jenis] ([ID], [Jenis]) VALUES (2, N'Bagus')
INSERT [dbo].[Jenis] ([ID], [Jenis]) VALUES (3, N'Premium')
SET IDENTITY_INSERT [dbo].[Jenis] OFF
GO
SET IDENTITY_INSERT [dbo].[KodePotonganHarga] ON 

INSERT [dbo].[KodePotonganHarga] ([ID], [Nama], [Kode], [Presentase], [Maksimal], [BerlakuSampai]) VALUES (1, N'Diskon Awal Tahun', N'DISKON2023', 10, 50000, CAST(N'2023-01-31' AS Date))
INSERT [dbo].[KodePotonganHarga] ([ID], [Nama], [Kode], [Presentase], [Maksimal], [BerlakuSampai]) VALUES (2, N'Promo Natal', N'NATAL2023', 15, 75000, CAST(N'2022-12-25' AS Date))
INSERT [dbo].[KodePotonganHarga] ([ID], [Nama], [Kode], [Presentase], [Maksimal], [BerlakuSampai]) VALUES (3, N'Promo Ramadhan', N'RAMADHAN2023', 20, 100000, CAST(N'2023-05-31' AS Date))
SET IDENTITY_INSERT [dbo].[KodePotonganHarga] OFF
GO
SET IDENTITY_INSERT [dbo].[Komputer] ON 

INSERT [dbo].[Komputer] ([ID], [Nomor], [Merek], [IDJenis]) VALUES (1, 1, N'HP Pavilion xyz', 1)
INSERT [dbo].[Komputer] ([ID], [Nomor], [Merek], [IDJenis]) VALUES (2, 2, N'Dell Inspiron abc', 2)
INSERT [dbo].[Komputer] ([ID], [Nomor], [Merek], [IDJenis]) VALUES (3, 3, N'Asus VivoBook def', 1)
SET IDENTITY_INSERT [dbo].[Komputer] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([ID], [Nama], [Telepon], [Alamat], [MasihAktif]) VALUES (1, N'Ani', N'08123456789', N'Jalan Mawar No. 123', 1)
INSERT [dbo].[Member] ([ID], [Nama], [Telepon], [Alamat], [MasihAktif]) VALUES (2, N'Budi', N'08765432100', N'Jalan Kenanga No. 456', 1)
INSERT [dbo].[Member] ([ID], [Nama], [Telepon], [Alamat], [MasihAktif]) VALUES (3, N'Citra', N'08111223344', N'Jalan Anggrek No. 789', 1)
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Paket] ON 

INSERT [dbo].[Paket] ([ID], [Nama], [IDJenis], [HargaPerJam]) VALUES (1, N'Paket Basic', 1, 50000)
INSERT [dbo].[Paket] ([ID], [Nama], [IDJenis], [HargaPerJam]) VALUES (2, N'Paket Premium', 2, 1000000)
INSERT [dbo].[Paket] ([ID], [Nama], [IDJenis], [HargaPerJam]) VALUES (3, N'Paket VIP', 3, 150000)
SET IDENTITY_INSERT [dbo].[Paket] OFF
GO
SET IDENTITY_INSERT [dbo].[Pengguna] ON 

INSERT [dbo].[Pengguna] ([ID], [NamaPengguna], [KataSandi]) VALUES (1, N'Budi', N'Sandi123')
INSERT [dbo].[Pengguna] ([ID], [NamaPengguna], [KataSandi]) VALUES (2, N'Citra', N'Rahasia456')
INSERT [dbo].[Pengguna] ([ID], [NamaPengguna], [KataSandi]) VALUES (3, N'Dewi', N'Tersembunyi789')
SET IDENTITY_INSERT [dbo].[Pengguna] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaksi] ON 

INSERT [dbo].[Transaksi] ([ID], [IDKomputer], [IDMember], [IDPaket], [IDPotonganHarga], [Tanggal], [Waktu], [DibuatOleh], [Durasi]) VALUES (1, 1, 1, 1, 1, CAST(N'2022-10-10' AS Date), CAST(N'12:00:00' AS Time), 1, 1)
SET IDENTITY_INSERT [dbo].[Transaksi] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KodePotonganHarga]    Script Date: 07/03/2024 08:26:25 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KodePotonganHarga] ON [dbo].[KodePotonganHarga]
(
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [DF_Member_MasihAktif]  DEFAULT ((1)) FOR [MasihAktif]
GO
ALTER TABLE [dbo].[Komputer]  WITH CHECK ADD  CONSTRAINT [FK_Komputer_Jenis] FOREIGN KEY([IDJenis])
REFERENCES [dbo].[Jenis] ([ID])
GO
ALTER TABLE [dbo].[Komputer] CHECK CONSTRAINT [FK_Komputer_Jenis]
GO
ALTER TABLE [dbo].[Paket]  WITH CHECK ADD  CONSTRAINT [FK_Paket_Jenis] FOREIGN KEY([IDJenis])
REFERENCES [dbo].[Jenis] ([ID])
GO
ALTER TABLE [dbo].[Paket] CHECK CONSTRAINT [FK_Paket_Jenis]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Komputer] FOREIGN KEY([IDKomputer])
REFERENCES [dbo].[Komputer] ([ID])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Komputer]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Member] FOREIGN KEY([IDMember])
REFERENCES [dbo].[Member] ([ID])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Member]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Operator] FOREIGN KEY([DibuatOleh])
REFERENCES [dbo].[Pengguna] ([ID])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Operator]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Paket] FOREIGN KEY([IDPaket])
REFERENCES [dbo].[Paket] ([ID])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Paket]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_PotonganHarga] FOREIGN KEY([IDPotonganHarga])
REFERENCES [dbo].[KodePotonganHarga] ([ID])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_PotonganHarga]
GO
USE [master]
GO
