GO
CREATE DATABASE [MiniKasir]
GO
USE [MiniKasir]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29/12/2024 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 29/12/2024 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[DiscountPercentase] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Coupon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailTransaction]    Script Date: 29/12/2024 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[CountItem] [int] NOT NULL,
	[SubTotal] [float] NOT NULL,
	[TransactionID] [int] NOT NULL,
 CONSTRAINT [PK_DetailTransaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 29/12/2024 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Price] [float] NOT NULL,
	[ItemCount] [int] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 29/12/2024 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[CouponID] [int] NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29/12/2024 14:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetailTransaction]  WITH CHECK ADD  CONSTRAINT [FK_DetailTransaction_DetailTransaction] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transaction] ([ID])
GO
ALTER TABLE [dbo].[DetailTransaction] CHECK CONSTRAINT [FK_DetailTransaction_DetailTransaction]
GO
ALTER TABLE [dbo].[DetailTransaction]  WITH CHECK ADD  CONSTRAINT [FK_DetailTransaction_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[DetailTransaction] CHECK CONSTRAINT [FK_DetailTransaction_Item]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Category]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Coupon] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupon] ([ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Coupon]
GO
-- Insert dummy data into Category
INSERT INTO [dbo].[Category] ([Name]) VALUES
('Beverages'),
('Snacks'),
('Groceries'),
('Electronics'),
('Clothing');
GO
-- Insert dummy data into Coupon
INSERT INTO [dbo].[Coupon] ([Code], [DiscountPercentase], [StartDate], [EndDate]) VALUES
('DISC10', 10, '2024-01-01', '2024-12-31'),
('DISC20', 20, '2024-06-01', '2024-12-31'),
('DISC30', 30, '2024-03-01', '2024-12-31'),
('FREESHIP', 5, '2024-01-01', '2024-12-31');
GO
-- Insert dummy data into Item
INSERT INTO [dbo].[Item] ([CategoryID], [Name], [Price], [ItemCount]) VALUES
(1, 'Coca Cola', 10000, 50),
(1, 'Pepsi', 9000, 60),
(2, 'Potato Chips', 15000, 30),
(2, 'Chocolate Bar', 12000, 40),
(3, 'Rice', 50000, 20),
(3, 'Cooking Oil', 30000, 25),
(4, 'Smartphone', 2000000, 10),
(4, 'Laptop', 5000000, 5),
(5, 'T-Shirt', 100000, 30),
(5, 'Jeans', 250000, 15);
GO
-- Insert dummy data into User
INSERT INTO [dbo].[User] ([FirstName], [LastName], [Email], [Password]) VALUES
('John', 'Doe', 'john.doe@example.com', HASHBYTES('MD5', 'password123')),
('Jane', 'Smith', 'jane.smith@example.com', HASHBYTES('MD5', 'password123')),
('Michael', 'Brown', 'michael.brown@example.com', HASHBYTES('MD5', 'securepass')),
('Emily', 'Davis', 'emily.davis@example.com', HASHBYTES('MD5', 'mypassword'));
GO
-- Insert dummy data into Transaction
INSERT INTO [dbo].[Transaction] ([Date], [CouponID], [TotalPrice]) VALUES
('2024-12-01', 1, 200000),
('2024-12-02', 2, 150000),
('2024-12-03', NULL, 300000),
('2024-12-04', 3, 500000);
GO
-- Insert dummy data into DetailTransaction
INSERT INTO [dbo].[DetailTransaction] ([ItemID], [CountItem], [SubTotal], [TransactionID]) VALUES
(1, 2, 20000, 1),
(2, 3, 27000, 1),
(3, 1, 15000, 2),
(4, 2, 24000, 2),
(5, 1, 100000, 3),
(6, 1, 30000, 3),
(7, 1, 2000000, 4),
(8, 1, 5000000, 4);
