USE [master]
GO
	/****** Object:  Database [EsemkaPolling]    Script Date: 21/02/2024 08:16:41 ******/
	CREATE DATABASE [EsemkaPolling]
GO
	ALTER DATABASE [EsemkaPolling]
SET
	COMPATIBILITY_LEVEL = 150
GO
	IF (
		1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled')
	) begin EXEC [EsemkaPolling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ANSI_NULL_DEFAULT OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ANSI_NULLS OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ANSI_PADDING OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ANSI_WARNINGS OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ARITHABORT OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	AUTO_CLOSE ON
GO
	ALTER DATABASE [EsemkaPolling]
SET
	AUTO_SHRINK OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	AUTO_UPDATE_STATISTICS ON
GO
	ALTER DATABASE [EsemkaPolling]
SET
	CURSOR_CLOSE_ON_COMMIT OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	CURSOR_DEFAULT GLOBAL
GO
	ALTER DATABASE [EsemkaPolling]
SET
	CONCAT_NULL_YIELDS_NULL OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	NUMERIC_ROUNDABORT OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	QUOTED_IDENTIFIER OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	RECURSIVE_TRIGGERS OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ENABLE_BROKER
GO
	ALTER DATABASE [EsemkaPolling]
SET
	AUTO_UPDATE_STATISTICS_ASYNC OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	DATE_CORRELATION_OPTIMIZATION OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	TRUSTWORTHY OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ALLOW_SNAPSHOT_ISOLATION OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	PARAMETERIZATION SIMPLE
GO
	ALTER DATABASE [EsemkaPolling]
SET
	READ_COMMITTED_SNAPSHOT OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	HONOR_BROKER_PRIORITY OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	RECOVERY SIMPLE
GO
	ALTER DATABASE [EsemkaPolling]
SET
	MULTI_USER
GO
	ALTER DATABASE [EsemkaPolling]
SET
	PAGE_VERIFY CHECKSUM
GO
	ALTER DATABASE [EsemkaPolling]
SET
	DB_CHAINING OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	FILESTREAM(NON_TRANSACTED_ACCESS = OFF)
GO
	ALTER DATABASE [EsemkaPolling]
SET
	TARGET_RECOVERY_TIME = 60 SECONDS
GO
	ALTER DATABASE [EsemkaPolling]
SET
	DELAYED_DURABILITY = DISABLED
GO
	ALTER DATABASE [EsemkaPolling]
SET
	ACCELERATED_DATABASE_RECOVERY = OFF
GO
	ALTER DATABASE [EsemkaPolling]
SET
	QUERY_STORE = OFF
GO
	USE [EsemkaPolling]
GO
	/****** Object:  Table [dbo].[Admins]    Script Date: 21/02/2024 08:16:41 ******/
SET
	ANSI_NULLS ON
GO
SET
	QUOTED_IDENTIFIER ON
GO
	CREATE TABLE [dbo].[Admins](
		[AdminID] [int] IDENTITY(1, 1) NOT NULL,
		[UserName] [nvarchar](255) NULL,
		[Password] [nvarchar](255) NULL,
		CONSTRAINT [PK__Admins__719FE4E84D637829] PRIMARY KEY CLUSTERED ([AdminID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[PollOptions]    Script Date: 21/02/2024 08:16:41 ******/
SET
	ANSI_NULLS ON
GO
SET
	QUOTED_IDENTIFIER ON
GO
	CREATE TABLE [dbo].[PollOptions](
		[OptionID] [int] IDENTITY(1, 1) NOT NULL,
		[PollID] [int] NULL,
		[OptionText] [nvarchar](max) NULL,
		CONSTRAINT [PK__PollOpti__92C7A1DF9CD51508] PRIMARY KEY CLUSTERED ([OptionID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[PollResponses]    Script Date: 21/02/2024 08:16:41 ******/
SET
	ANSI_NULLS ON
GO
SET
	QUOTED_IDENTIFIER ON
GO
	CREATE TABLE [dbo].[PollResponses](
		[ResponseID] [int] IDENTITY(1, 1) NOT NULL,
		[UserID] [int] NULL,
		[PollID] [int] NULL,
		[OptionID] [int] NULL,
		[RespondedAt] [datetime] NULL,
		CONSTRAINT [PK__PollResp__1AAA640C0F04815F] PRIMARY KEY CLUSTERED ([ResponseID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[Polls]    Script Date: 21/02/2024 08:16:41 ******/
SET
	ANSI_NULLS ON
GO
SET
	QUOTED_IDENTIFIER ON
GO
	CREATE TABLE [dbo].[Polls](
		[PollID] [int] IDENTITY(1, 1) NOT NULL,
		[AdminID] [int] NULL,
		[Question] [nvarchar](max) NULL,
		[IsClosed] [bit] NULL,
		[CreatedAt] [datetime] NULL,
		CONSTRAINT [PK__Polls__E1949E4A6568CD46] PRIMARY KEY CLUSTERED ([PollID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
	/****** Object:  Table [dbo].[Users]    Script Date: 21/02/2024 08:16:41 ******/
SET
	ANSI_NULLS ON
GO
SET
	QUOTED_IDENTIFIER ON
GO
	CREATE TABLE [dbo].[Users](
		[UserID] [int] IDENTITY(1, 1) NOT NULL,
		[IdentityCode] [nvarchar](20) NULL,
		[Name] [nvarchar](255) NULL,
		CONSTRAINT [PK__Users__1788CCACA1DC4EE2] PRIMARY KEY CLUSTERED ([UserID] ASC) WITH (
			PAD_INDEX = OFF,
			STATISTICS_NORECOMPUTE = OFF,
			IGNORE_DUP_KEY = OFF,
			ALLOW_ROW_LOCKS = ON,
			ALLOW_PAGE_LOCKS = ON,
			OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
		) ON [PRIMARY]
	) ON [PRIMARY]
GO
SET
	IDENTITY_INSERT [dbo].[Admins] ON
INSERT
	[dbo].[Admins] ([AdminID], [UserName], [Password])
VALUES
	(
		1,
		N'admin1',
		N'e00cf25ad42683b3df678c61f42c6bda'
	)
INSERT
	[dbo].[Admins] ([AdminID], [UserName], [Password])
VALUES
	(
		2,
		N'admin2',
		N'c84258e9c39059a89ab77d846ddab909'
	)
SET
	IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET
	IDENTITY_INSERT [dbo].[PollOptions] ON
INSERT
	[dbo].[PollOptions] ([OptionID], [PollID], [OptionText])
VALUES
	(1, 1, N'Arin Sarwendah')
INSERT
	[dbo].[PollOptions] ([OptionID], [PollID], [OptionText])
VALUES
	(3, 1, N'Wibowo Budianto')
INSERT
	[dbo].[PollOptions] ([OptionID], [PollID], [OptionText])
VALUES
	(4, 1, N'Tanjar Santoso')
SET
	IDENTITY_INSERT [dbo].[PollOptions] OFF
GO
SET
	IDENTITY_INSERT [dbo].[Polls] ON
INSERT
	[dbo].[Polls] (
		[PollID],
		[AdminID],
		[Question],
		[IsClosed],
		[CreatedAt]
	)
VALUES
	(
		1,
		1,
		N'Pemilihan Kepala Desa Rugiharjo 2060',
		0,
		CAST(N'2024-02-21T00:00:00.000' AS DateTime)
	)
SET
	IDENTITY_INSERT [dbo].[Polls] OFF
GO
SET
	IDENTITY_INSERT [dbo].[Users] ON
INSERT
	[dbo].[Users] ([UserID], [IdentityCode], [Name])
VALUES
	(1, N'26312', N'Infinix 12 Pro')
INSERT
	[dbo].[Users] ([UserID], [IdentityCode], [Name])
VALUES
	(2, N'63729', N'John Simatupang')
INSERT
	[dbo].[Users] ([UserID], [IdentityCode], [Name])
VALUES
	(3, N'07814', N'Alfred Kambuaya')
SET
	IDENTITY_INSERT [dbo].[Users] OFF
GO
SET
	ANSI_PADDING ON
GO
	/****** Object:  Index [UQ__Users__DF988B75706F4E4F]    Script Date: 21/02/2024 08:16:41 ******/
ALTER TABLE
	[dbo].[Users]
ADD
	CONSTRAINT [UQ__Users__DF988B75706F4E4F] UNIQUE NONCLUSTERED ([IdentityCode] ASC) WITH (
		PAD_INDEX = OFF,
		STATISTICS_NORECOMPUTE = OFF,
		SORT_IN_TEMPDB = OFF,
		IGNORE_DUP_KEY = OFF,
		ONLINE = OFF,
		ALLOW_ROW_LOCKS = ON,
		ALLOW_PAGE_LOCKS = ON,
		OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
	) ON [PRIMARY]
GO
ALTER TABLE
	[dbo].[PollOptions] WITH CHECK
ADD
	CONSTRAINT [FK__PollOptio__PollI__2C3393D0] FOREIGN KEY([PollID]) REFERENCES [dbo].[Polls] ([PollID])
GO
ALTER TABLE
	[dbo].[PollOptions] CHECK CONSTRAINT [FK__PollOptio__PollI__2C3393D0]
GO
ALTER TABLE
	[dbo].[PollResponses] WITH CHECK
ADD
	CONSTRAINT [FK__PollRespo__Optio__30F848ED] FOREIGN KEY([OptionID]) REFERENCES [dbo].[PollOptions] ([OptionID])
GO
ALTER TABLE
	[dbo].[PollResponses] CHECK CONSTRAINT [FK__PollRespo__Optio__30F848ED]
GO
ALTER TABLE
	[dbo].[PollResponses] WITH CHECK
ADD
	CONSTRAINT [FK__PollRespo__PollI__300424B4] FOREIGN KEY([PollID]) REFERENCES [dbo].[Polls] ([PollID])
GO
ALTER TABLE
	[dbo].[PollResponses] CHECK CONSTRAINT [FK__PollRespo__PollI__300424B4]
GO
ALTER TABLE
	[dbo].[PollResponses] WITH CHECK
ADD
	CONSTRAINT [FK__PollRespo__UserI__2F10007B] FOREIGN KEY([UserID]) REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE
	[dbo].[PollResponses] CHECK CONSTRAINT [FK__PollRespo__UserI__2F10007B]
GO
ALTER TABLE
	[dbo].[Polls] WITH CHECK
ADD
	CONSTRAINT [FK__Polls__AdminID__29572725] FOREIGN KEY([AdminID]) REFERENCES [dbo].[Admins] ([AdminID])
GO
ALTER TABLE
	[dbo].[Polls] CHECK CONSTRAINT [FK__Polls__AdminID__29572725]
GO
	USE [master]
GO
	ALTER DATABASE [EsemkaPolling]
SET
	READ_WRITE
GO